<div class="container">
    <div class="row row-portfolio-chain mt-5">
        <div class="col">
            <i class="fa fa-link" aria-hidden="true"></i>
            <h2>
                {{ portfolio_name|title }} Has Mints On {{ chain.name|title }}
            </h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row row-portfolio-chain justify-content-center mb-5">
        {% for collection in chain.collections %}
            <div
                {% if chain.collections|length is same as(1) %}
                    class="col-12 col-md-12 col-lg-6"
                {% elseif chain.collections|length is same as(2) %}
                    class="col-12 col-md-12 col-lg-6"
                {% elseif chain.collections|length is same as(3) %}
                    class="col-12 col-md-6 col-lg-4"
                {% else %}
                    class="col-12 col-md-6 col-lg-3"
                {% endif %}
            >
                <div class="card mb-4">
                    <div class="card-header">
                        <h3>
                            {{ collection.name }}
                        </h3>
                        {% if collection.sub %}
                            <h4>
                                {{ collection.sub }}
                            </h4>
                        {% endif %}
                    </div>
                    <div class="card-body p-0">
                        <img class="img-fluid m-0" src="images/portfolio/{{ portfolio_name }}/{{ chain.name }}/{{ collection.image }}" />
                        <p>
                            {{ collection.description }}
                        </p>
                    </div>
                    <div class="card-footer">
                        {% for market in collection.markets %}
                            {% if market.icon %}
                                <a target="_blank" href="{{ market.url }}">
                                    <img width="40px" src="images/marketplaces/{{ market.icon }}" />
                                </a>
                            {% else %}
                                <a class="btn" target="_blank" href="{{ market.url }}">
                                    {{ market.name }}
                                </a>
                            {% endif %}
                            {% if market.description %}
                                <br />
                                <p>
                                    {{ market.description }}
                                </p>
                                <br />
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
