{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="top"></div>
    <div class="page-header text-center">
        <h1>
            <span class="has">Has</span><span class="mints">Mints</span>
        </h1>
{#        <div class="socials">#}
{#            <a target="_blank" href="https://discord.com/invite/a8jkJyrxrE" class="btn btn-lg btn-primary">#}
{#                <i class="fa-brands fa-discord" aria-hidden="true"></i>#}
{#            </a>#}
{#            <a target="_blank" href="https://twitter.com/HasMints" class="btn btn-lg btn-primary">#}
{#                <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>#}
{#            </a>#}
{#        </div>#}
        <h2 class="d-block">
            Just awesome NFT collections
        </h2>
    </div>

{#    <div class="row">#}
{#        <div class="container container-web3-projects container-darker-blue">#}
{#            <div class="row">#}
{#                <div class="col col-12">#}
{#                    <h3>Our Web3 Projects</h3>#}
{#                    <p>#}
{#                        We create handy Web3 tools designed to <strong>streamline</strong> and enhance your experience with NFTs.#}
{#                        Our solutions are tailored to <strong>simplify</strong> the complexities of the NFT ecosystem,#}
{#                        making it more accessible and user-friendly.#}
{#                        Committed to <strong>transparency</strong>, all our code is open-source.#}
{#                    </p>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div class="row">#}
{#        <div class="container-fluid container-richlists pt-5 pb-3">#}
{#            <div class="row">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col col-12 col-md-7">#}
{#                            <p>#}
{#                                Need <strong>RichLists</strong> for your project?#}
{#                                We can <strong>help</strong>.#}
{#                                Each project may have one or more chains,#}
{#                                each representing a rich list containing <strong>multiple collections</strong>.#}
{#                                This dedicated webpage allows holders to access the rich list, showcasing the NFTs held by wallets#}
{#                                across these collections. Additionally, a <strong>public API</strong> is provided to fetch <strong>real-time data</strong>#}
{#                                for integration into other applications. For each chain/rich list, you can obtain#}
{#                                different API URLs in two formats: <strong>JSON</strong> for programmatic access and pure#}
{#                                <strong>HTML</strong> format for embedding as a table on your own website.#}
{#                            </p>#}
{#                            <p>#}
{#                                <em>Starting at $10 p/m. Find out more on the website.</em>#}
{#                            </p>#}
{#                            <p>#}
{#                                <a target="_blank" href="https://richlist.hasmints.com" class="btn btn-lg btn-primary">#}
{#                                    richlist.hasmints.com#}
{#                                </a>#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="col col-12 col-md-5">#}
{#                            <img alt="RichLists" class="img-fluid rounded mb-4" src="images/projects/richlists.gif" />#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    <div class="row">
        <div class="container container-web3-projects container-darker-blue">
            <div class="row">
                <div class="col col-12">
                    <h3>Currently Minting on Base</h3>
                    <p>
                        <a target="_blank" href="https://opensea.io/collection/loadingpunksbase/overview" class="btn btn-lg btn-primary mb-2">
                            LoadingPunks for .0001
                        </a>
                        <a target="_blank" href="https://opensea.io/collection/looneyluke/overview" class="btn btn-lg btn-primary mb-2">
                            Looney Luke for .0001
                        </a>
                        <a target="_blank" href="https://app.niftykit.com/collections/basealiens" class="btn btn-lg btn-primary mb-2">
                            BaseAliens for .002
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-nobased pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-5">
                            <img alt="RipplePunks" class="img-fluid rounded mb-4" src="images/collections/nobased/15.png" />
                        </div>
                        <div class="col col-12 col-md-7">
                            <div class="badge badge-light">
                                SOLD OUT
                            </div>
                            <br /><br />
                            <p>
                                Our most recent success on Base is called <strong>No-Based</strong>.
                                You might find this name weird, but it's a mix of two legendary collections on <strong>Base</strong>: <em>based punks</em> and <em>No-Punks</em>.
                            </p>
                            <p>
                                After this mint, we did something amazing that shocked the Base NFT community.
                                We <strong>gave away 1 ETH</strong> to the top 25 holders, 24 hours after minting out. Additionally, we <strong>swept many floors</strong> from multiple Base NFT collections.
                            </p>
                            <p>
                                The NFTs we swept are being given away in various giveaways on X.
                            </p>
                            <p>
                                <a target="_blank" href="https://nobased.com" class="btn btn-lg btn-primary">
                                    Website
                                </a>
                                <a target="_blank" href="https://opensea.io/collection/nobaseism" class="btn btn-lg btn-primary">
                                    Secondary
                                </a>
                                <a target="_blank" href="https://twitter.com/HasMints" class="btn btn-lg btn-primary">
                                    <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-ripplepunks pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-7">
                            <div class="badge badge-light">
                                SOLD OUT
                            </div>
                            <br /><br />
                            <p>
                                Let's continue with <strong>RipplePunks</strong>—it's our pride and joy, with the biggest community and the honor of being our first big hit! It's not just art, it's a symbol of our amazing community and our knack for making cool stuff.
                            </p>
                            <p>
                                RipplePunks has swiftly become one of the <strong>XRPL's</strong> largest collections, selling out within a remarkable two weeks.
                            </p>
                            <p>
                                Each punk has found its home, establishing RipplePunks as the <strong>derivative</strong> CryptoPunks collection from the Ethereum blockchain, solidifying its place in the world of blockchain art.
                            </p>
                            <p>
                                <a target="_blank" href="https://ripplepunks.com" class="btn btn-lg btn-primary">
                                    Website
                                </a>
                                <a target="_blank" href="https://discord.com/invite/a8jkJyrxrE" class="btn btn-lg btn-primary">
                                    <i class="fa-brands fa-discord" aria-hidden="true"></i>
                                </a>
                                <a target="_blank" href="https://twitter.com/xRipplePunks" class="btn btn-lg btn-primary">
                                    <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                        <div class="col col-12 col-md-5">
                            <img alt="RipplePunks" class="img-fluid rounded mb-4" src="images/collections/ripplepunks/15.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-looneyluca pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row mt-3 mb-5">
                        <div class="col col-12 col-md-8">
                            <div class="badge badge-light">
                                MINTING
                            </div>
                            <br /><br />
                            <p>
                                <em>Started by a Kid named Luke, Crafted by Family: Art Beyond the Hype</em>
                            </p>
                            <p>
                                And don't miss <strong>Looney Luke</strong> on Base—it's a cool collection that immerses you in the real-life adventures of a kid named Luke.
                            </p>
                            <p>
                                Well, Luke is <strong>our son</strong>. He created the character that resembled himself from scratch with pencils, and my wife digitized it with her iPad.
                                I (dad) assembled the layers with code.
                            </p>
                        </div>
                        <div class="col col-12 col-md-4">
                            <img alt="Looney Luke" class="img-fluid rounded" src="images/collections/looneyluca/looneyluke.png" />
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col col-12 col-md-4">
                            <img alt="Looney Luke" class="img-fluid rounded mb-4" src="images/collections/looneyluca/withsiblings.png" />
                        </div>
                        <div class="col col-12 col-md-8">
                            <p>It's not just a collection; it's a heartfelt journey through Luke's world, filled with laughter, mischief, and the warmth of <strong>family</strong> bonds.</p>
                            <p>This collection will start minting soon on Base.</p>
                            <p>No free mints; instead, all 10,000 pieces will be sold for the very low price of .0001 ETH.</p>
                            <p>
                                <a target="_blank" href="https://opensea.io/collection/looneyluke/overview" class="btn btn-lg btn-secondary">
                                    Mint For ETH .0001
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-cryptopunks pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row py-4">
                        <div class="col col-md-4 col-12">
                            <img alt="LoadingPunks" class="img-fluid rounded mb-4" src="images/collections/loadingpunks/15.gif" />
                        </div>
                        <div class="col col-md-8 col-12">
                            <div class="badge badge-light">
                                ETHEREUM SOLD OUT
                            </div>
                            <div class="badge badge-light">
                                BASE MINTING
                            </div>
                            <br />
                            <br />
                            <p>Next up, check out <strong>LoadingPunks</strong>. Loading, or rebuilding, all 10,000 <strong>CryptoPunks</strong> pixel by pixel, but also layer by layer.</p>
                            <p>This way, you can see <strong>hidden properties</strong> (like earrings) for a second before the next layer goes on top.</p>
                            <p>
                                Kinda awesome, right? That's why we are planning a new mint on <strong>Base</strong>! Slightly faster than their Ethereum variant and with another background color.
                                Current LoadingPunk holders get <strong>free mints</strong> equal to their holdings.
                            </p>
                            <p>
                                <a target="_blank" href="https://opensea.io/collection/loadingpunksbase" class="btn btn-lg btn-primary">
                                    Base Mint for .0001
                                </a>
                                <a target="_blank" href="https://opensea.io/collection/loadingpunks" class="btn btn-lg btn-primary">
                                    Ethereum Secondary
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-basealiens pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row pt-4 pb-5">
                        <div class="col col-md-8 col-12">
                            <div class="badge badge-light">
                                MINTING
                            </div>
                            <br /><br />
                            <p>And hey, get ready for <strong>BaseAliens</strong> on Base—it's a wild ride! Picture a spaceship grabbing 4,444 people from Ethereum and dropping them on a crazy planet called <strong>Base</strong>. It's like something out of a sci-fi movie!</p>
                            <p>
                                <a target="_blank" href="https://app.niftykit.com/collections/basealiens" class="btn btn-lg btn-secondary">
                                    Mint For ETH .002
                                </a>
                                <a target="_blank" href="https://opensea.io/collection/realbasealiens" class="btn btn-lg btn-primary">
                                    Secondary
                                </a>
                            </p>
                        </div>
                        <div class="col col-md-4 col-12">
                            <img alt="BaseAliens" class="img-fluid rounded mb-4" src="images/collections/basealiens/basealiens.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <div class="row">#}
{#        <div class="container-fluid container-other-collections pt-5 pb-3">#}
{#            <div class="row">#}
{#                <div class="container">#}
{#                    <div class="row py-4">#}
{#                        <div class="col col-md-3 col-12">#}
{#                            <img alt="LoadingPunks" class="img-fluid rounded mb-4" src="images/collections/loadingpunks/15.gif" />#}
{#                        </div>#}
{#                        <div class="col col-md-6 col-12">#}
{#                            <p>Other collections on Ethereum</p>#}
{#                            <p>#}
{#                                <a target="_blank" href="https://opensea.io/collection/loadingpunks" class="btn btn-lg btn-primary">#}
{#                                    LoadingPunks#}
{#                                </a>#}
{#                                <a target="_blank" href="https://opensea.io/collection/pipingpunks/" class="btn btn-lg btn-primary">#}
{#                                    PipingPunks#}
{#                                </a>#}
{#                                <a target="_blank" href="https://opensea.io/collection/shapedpunks" class="btn btn-lg btn-primary">#}
{#                                    ShapedPunks#}
{#                                </a>#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="col col-md-3 col-12">#}
{#                            <img alt="PipingPunks" class="img-fluid rounded mb-4" src="images/collections/pipingpunks/15.png" />#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div class="row">#}
{#        <div class="container container-opensource">#}
{#            <div class="row">#}
{#                <div class="col col-12">#}
{#                    <h3>Open Source Code</h3>#}
{#                    <p>We specialize in <strong>PHP</strong>, crafting top-notch web solutions using frameworks like Laravel, Laminas, and Symfony. Starting April 2024, we're embracing transparency and collaboration by making all our projects open source.</p>#}
{#                    <p>Why open source? We believe in <strong>community-driven</strong> development, fostering innovation and positive change in the tech landscape. Join us on this journey of continuous improvement!</p>#}
{#                    <p>Explore our open-source projects and discover how we can shape the future together. Plus, we're now diving into <strong>Web3</strong> and <strong>NFT</strong> projects. Let's explore the possibilities and shape the digital economy together.</p>#}
{#                    <hr />#}
{#                    <div class="my-4">#}
{#                        Last commit done on#}
{#                        <a target="_blank" href="{{ repositories[0].lastCommitUrl }}">#}
{#                            {{ repositories[0].lastCommitDone }}#}
{#                        </a> (UTC)#}
{#                        for repository#}
{#                        <strong>#}
{#                            <a target="_blank" href="{{ repositories[0].url }}">#}
{#                                {{ repositories[0].name }}#}
{#                            </a>#}
{#                        </strong>#}
{#                        <br />#}
{#                        <em>#}
{#                            "{{ repositories[0].lastCommitMessage }}"#}
{#                        </em>#}
{#                    </div>#}
{#                    <a href="/opensource" class="btn btn-primary btn-lg my-4">#}
{#                        Open Source Code#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
