{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="top"></div>
    <div class="page-header text-center">
        <h1>
            <span class="has">Has</span><span class="mints">Mints</span>
        </h1>
        <div class="socials">
            Follow us:
            <a target="_blank" href="https://discord.com/invite/a8jkJyrxrE" class="btn btn-lg btn-primary">
                <i class="fa-brands fa-discord" aria-hidden="true"></i>
            </a>
            <a target="_blank" href="https://twitter.com/HasMints" class="btn btn-lg btn-primary">
                <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
            </a>
        </div>
        <h2 class="d-block">
            Web3 Projects<br />NFT Collections<br />PHP Open Source
        </h2>
    </div>

    <div class="row">
        <div class="container container-web3-projects container-darker-blue">
            <div class="row">
                <div class="col col-12">
                    <h3>Our Web3 Projects</h3>
                    <p>
                        We create handy Web3 tools designed to <strong>streamline</strong> and enhance your experience with NFTs.
                        Our solutions are tailored to <strong>simplify</strong> the complexities of the NFT ecosystem,
                        making it more accessible and user-friendly.
                        Committed to <strong>transparency</strong>, all our code is open-source.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-richlists pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-7">
                            <p>
                                Need <strong>RichLists</strong> for your project?
                                We can <strong>help</strong>.
                                Each project may have one or more chains,
                                each representing a rich list containing <strong>multiple collections</strong>.
                                This dedicated webpage allows holders to access the rich list, showcasing the NFTs held by wallets
                                across these collections. Additionally, a <strong>public API</strong> is provided to fetch <strong>real-time data</strong>
                                for integration into other applications. For each chain/rich list, you can obtain
                                different API URLs in two formats: <strong>JSON</strong> for programmatic access and pure
                                <strong>HTML</strong> format for embedding as a table on your own website.
                            </p>
                            <p>
                                <em>Starting at $10 p/m. Find out more on the website.</em>
                            </p>
                            <p>
                                <a target="_blank" href="https://richlist.hasmints.com" class="btn btn-lg btn-primary">
                                    richlist.hasmints.com
                                </a>
                            </p>
                        </div>
                        <div class="col col-12 col-md-5">
                            <img alt="RichLists" class="img-fluid rounded mb-4" src="images/projects/richlists.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container container-web3-projects container-darker-blue">
            <div class="row">
                <div class="col col-12">
                    <h3>Our NFT Collections</h3>
                    <p>
                        We create original and <strong>fun</strong> NFT collections across multiple blockchain networks.
                        Our diverse and imaginative collections capture the essence of digital art and <strong>collectibles</strong>,
                        offering unique experiences for enthusiasts on various platforms.
                        Whether you're a seasoned collector or new to the NFT space, our <strong>multi-chain</strong> collections
                        ensure there's something exciting for everyone.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-ripplepunks pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-5">
                            <img alt="RipplePunks" class="img-fluid rounded mb-4" src="images/collections/ripplepunks/15.png" />
                        </div>
                        <div class="col col-12 col-md-7">
                            <p>
                                Let's kick things off with <strong>RipplePunks</strong>—it's our pride and joy, with the biggest community and the honor of being our first big hit! It's not just art, it's a symbol of our amazing community and our knack for making cool stuff.
                            </p>
                            <p>
                                RipplePunks has swiftly become one of the <strong>XRPL's</strong> largest collections, selling out within a remarkable two weeks.
                            </p>
                            <p>
                                Each punk has found its home, establishing RipplePunks as the <strong>derivative</strong> CryptoPunks collection from the Ethereum blockchain, solidifying its place in the world of blockchain art.
                            </p>
                            <p>
                                <a target="_blank" href="https://ripplepunks.com" class="btn btn-lg btn-primary">
                                    Website
                                </a>
                                <a target="_blank" href="https://discord.com/invite/a8jkJyrxrE" class="btn btn-lg btn-primary">
                                    <i class="fa-brands fa-discord" aria-hidden="true"></i>
                                </a>
                                <a target="_blank" href="https://twitter.com/xRipplePunks" class="btn btn-lg btn-primary">
                                    <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-looneyluca pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row mt-3 mb-5">
                        <div class="col col-12 col-md-8">
                            <p>And don't miss <strong>Looney Luca</strong> on Ethereum—it's a cool collection that immerses you in the real-life adventures of a kid named Luca. But here's the twist—his two spirited <strong>sisters</strong> often make appearances as "properties," adding an extra layer of charm and familial dynamics to the collection.</p>
                        </div>
                        <div class="col col-12 col-md-4">
                            <img alt="Looney Luca" class="img-fluid rounded" src="images/collections/looneyluca/siblings.png" />
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col col-12 col-md-4">
                            <img alt="Looney Luca" class="img-fluid rounded mb-4" src="images/collections/looneyluca/looneyluca.gif" />
                        </div>
                        <div class="col col-12 col-md-8">
                            <p>Moreover, we've carefully curated <strong>backgrounds</strong> from places Luca has visited or holds significance to him, enriching each artwork with personal anecdotes and memories. It's not just a collection; it's a heartfelt journey through Luca's world, filled with laughter, mischief, and the warmth of <strong>family</strong> bonds.</p>
                            <p>
                                <a target="_blank" href="https://opensea.io/collection/looneyluca/overview" class="btn btn-lg btn-secondary">
                                    Mint For ETH 0.001
                                </a>
                                <a target="_blank" href="https://twitter.com/HasMints" class="btn btn-lg btn-primary">
                                    <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-cryptopunks pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row py-4">
                        <div class="col col-md-3 col-12">
                            <img alt="LoadingPunks" class="img-fluid rounded mb-4" src="images/collections/loadingpunks/15.gif" />
                        </div>
                        <div class="col col-md-6 col-12">
                            <p>Next up, check out our <strong>Ethereum</strong> collections. They're like awesome spin-offs from <strong>CryptoPunks</strong>, full of creativity and created with code (PHP of course!).</p>
                            <p>
                                <a target="_blank" href="https://opensea.io/collection/loadingpunks" class="btn btn-lg btn-primary">
                                    LoadingPunks
                                </a>
                                <a target="_blank" href="https://opensea.io/collection/pipingpunks/" class="btn btn-lg btn-primary">
                                    PipingPunks
                                </a>
                                <a target="_blank" href="https://opensea.io/collection/shapedpunks" class="btn btn-lg btn-primary">
                                    ShapedPunks
                                </a>
                            </p>
                        </div>
                        <div class="col col-md-3 col-12">
                            <img alt="PipingPunks" class="img-fluid rounded mb-4" src="images/collections/pipingpunks/15.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-basealiens pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row pt-4 pb-5">
                        <div class="col col-md-8 col-12">
                            <p>And hey, get ready for <strong>BaseAliens</strong> on Base—it's a wild ride! Picture a spaceship grabbing 4,444 people from Ethereum and dropping them on a crazy planet called <strong>Base</strong>. It's like something out of a sci-fi movie!</p>
                            <p>
                                <a target="_blank" href="https://app.niftykit.com/collections/basealiens" class="btn btn-lg btn-secondary">
                                    Mint For ETH 0.002
                                </a>
                                <a target="_blank" href="https://opensea.io/collection/realbasealiens" class="btn btn-lg btn-primary">
                                    Secondary
                                </a>
                                <a target="_blank" href="https://twitter.com/HasMints" class="btn btn-lg btn-primary">
                                    <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                        <div class="col col-md-4 col-12">
                            <img alt="BaseAliens" class="img-fluid rounded mb-4" src="images/collections/basealiens/basealiens.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container container-opensource">
            <div class="row">
                <div class="col col-12">
                    <h3>Open Source Code</h3>
                    <p>We specialize in <strong>PHP</strong>, crafting top-notch web solutions using frameworks like Laravel, Laminas, and Symfony. Starting April 2024, we're embracing transparency and collaboration by making all our projects open source.</p>
                    <p>Why open source? We believe in <strong>community-driven</strong> development, fostering innovation and positive change in the tech landscape. Join us on this journey of continuous improvement!</p>
                    <p>Explore our open-source projects and discover how we can shape the future together. Plus, we're now diving into <strong>Web3</strong> and <strong>NFT</strong> projects. Let's explore the possibilities and shape the digital economy together.</p>
                    <hr />
                    <div class="my-4">
                        Last commit done on
                        <a target="_blank" href="{{ repositories[0].lastCommitUrl }}">
                            {{ repositories[0].lastCommitDone }}
                        </a> (UTC)
                        for repository
                        <strong>
                            <a target="_blank" href="{{ repositories[0].url }}">
                                {{ repositories[0].name }}
                            </a>
                        </strong>
                        <br />
                        <em>
                            "{{ repositories[0].lastCommitMessage }}"
                        </em>
                    </div>
                    <a href="/opensource" class="btn btn-primary btn-lg my-4">
                        Open Source Code
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-5">
        <div class="container container-team">
            <div class="row">
                <div class="col col-12 text-center">
                    <h1>Team</h1>
                    <h2>Meet your web3 experts</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col col-12 col-md-6 col-lg-4">
                        <div class="card my-3">
                            <div class="card-header">
                                <h1>Luc</h1>
                                <h2>Founder and Developer</h2>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid" src="images/team/luc.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col col-12 col-md-6 col-lg-4">
                        <div class="card my-3">
                            <div class="card-header">
                                <h1>Ajay</h1>
                                <h2>Cybersecurity Expert</h2>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid" src="images/team/ajay.png" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 text-center">
                    <a href="/team" class="btn btn-primary btn-lg my-4">
                        Find out more
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
