{% extends 'base.html.twig' %}

{% block body_id 'homepage' %}
{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block body %}
    <div class="top"></div>
    <div class="page-header text-center">
        <h1>
            <span class="has">Has</span><span class="mints">Mints</span>
        </h1>
{#        <div class="socials">#}
{#            <a target="_blank" href="https://discord.com/invite/a8jkJyrxrE" class="btn btn-lg btn-primary">#}
{#                <i class="fa-brands fa-discord" aria-hidden="true"></i>#}
{#            </a>#}
{#            <a target="_blank" href="https://twitter.com/HasMints" class="btn btn-lg btn-primary">#}
{#                <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>#}
{#            </a>#}
{#        </div>#}
        <h2 class="d-block">
            Just awesome NFT collections
        </h2>
        <h3>Mints without hype</h3>

    </div>

    <div class="row">
        <div class="container container-web3-projects container-darker-blue">
            <div class="row">
                <div class="col col-12">
                    <h3>Currently Minting</h3>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col col-12 col-md-6">
                    <img alt="Looney Luke" class="img-fluid rounded mb-4" src="images/collections/looneyluca/avatar.png" />
                    <p>
                        We currently have <strong>Looney Luke</strong> available on Base! Check out this incredible family-inspired art.
                        Created by our son, crafted by family.
                        This mint is almost free and come without any hype.
                        <br />
                    </p>
                    <p>
                        <a class="btn btn-primary btn-sm" target="_blank" href="https://opensea.io/collection/looneyluke/overview">
                            <strong>
                                Mint Looney Luke for .0001
                            </strong>
                        </a>
                    </p>
                </div>

                <div class="col col-12 col-md-6">
                    <img alt="Punks in 4K" class="img-fluid rounded mb-4" src="images/collections/punks4k/15.png" />
                    <p>
                        With <strong>Punks in 4K</strong>, we’re taking a different path—combining AI with code and CryptoPunks metadata to create something fresh.
                        AI-generated art meets on-chain data, bringing each Punk to life in a way that’s never been done before.
                        <br />
                    </p>
                    <p>
{#                        <a class="btn btn-primary btn-sm" target="_blank" href="https://opensea.io/4k-deployer">#}
                        <a class="btn btn-primary btn-sm" target="_blank" href="https://opensea.io/collection/punks4k">
                            <strong>
                                Buy Punks in 4K for .01
                            </strong>
                        </a>
                    </p>
                    <p>
                        <small>
                            Since AI isn’t perfect, we’re not minting everything in one go. Instead, we’re creating Punks on the fly, refining each one, and manually adding them to the collection.

                            One thing is certain: the price will never be set lower than 0.01.
                        </small>
                    </p>
                </div>
            </div>

        </div>
    </div>



{#    <div class="row">#}
{#        <div class="container-fluid container-richlists pt-5 pb-3">#}
{#            <div class="row">#}
{#                <div class="container">#}
{#                    <div class="row">#}
{#                        <div class="col col-12 col-md-7">#}
{#                            <p>#}
{#                                Need <strong>RichLists</strong> for your project?#}
{#                                We can <strong>help</strong>.#}
{#                                Each project may have one or more chains,#}
{#                                each representing a rich list containing <strong>multiple collections</strong>.#}
{#                                This dedicated webpage allows holders to access the rich list, showcasing the NFTs held by wallets#}
{#                                across these collections. Additionally, a <strong>public API</strong> is provided to fetch <strong>real-time data</strong>#}
{#                                for integration into other applications. For each chain/rich list, you can obtain#}
{#                                different API URLs in two formats: <strong>JSON</strong> for programmatic access and pure#}
{#                                <strong>HTML</strong> format for embedding as a table on your own website.#}
{#                            </p>#}
{#                            <p>#}
{#                                <em>Starting at $10 p/m. Find out more on the website.</em>#}
{#                            </p>#}
{#                            <p>#}
{#                                <a target="_blank" href="https://richlist.hasmints.com" class="btn btn-lg btn-primary">#}
{#                                    richlist.hasmints.com#}
{#                                </a>#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="col col-12 col-md-5">#}
{#                            <img alt="RichLists" class="img-fluid rounded mb-4" src="images/projects/richlists.gif" />#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}


    <div class="row">
        <div class="container-fluid container-pigpunks pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-5">
                            <img alt="RipplePunks" class="img-fluid rounded mb-4" src="images/collections/pigpunks/img_1.png" />
                        </div>
                        <div class="col col-12 col-md-7">
                            <div class="badge badge-light">
                                UPCOMING
                            </div>
                            <br /><br />
                            <p>
                                Currently Mrs. HasMints is working hard on our next exciting project, <strong>PigPunks</strong>.
                                This upcoming mint will take place on <strong>Base</strong>. Stay tuned for more information coming soon!
                            </p>
                            <p>
                                <a target="_blank" href="https://pigpunks.com" class="btn btn-lg btn-primary">
                                    Website
                                </a>
                                <a target="_blank" href="https://twitter.com/HasMints" class="btn btn-lg btn-primary">
                                    <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="container-fluid container-freemints pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col col-12">
                            <h1>Free mints (minted out)</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col col-12">
                            <p style="text-align: center"
                               These free mints are <strong>code art</strong> collections inspired by the OG CryptoPunks.
                            <br />
                            Each one has its own meaning but shares the same metadata.
                        </div>
                    </div>
                    <div class="row justify-content-center text-center">
                        <div class="col col-12 col-md-4">
                            <img alt="BullRun Punks" class="img-fluid rounded mb-4" src="images/collections/bullrunpunks/15.png" />
                            <p class="small">
                                Since 2017, people have been bullish on Punks, and now the <strong>BullRun Punks</strong> collection takes that sentiment to the next level. Each BullRun Punk showcases a visually stunning upward trend, constructed with pixels and colors directly inspired by the original Punk it represents. This collection embodies the essence of market optimism, blending iconic designs with a rising trajectory, creating a perfect representation of bullish energy in the NFT space.
                            </p>
                            <p style="text-align: center">
                                <a target="_blank" href="https://magiceden.io/collections/base/0x584e0c07b5a1371cd6bb14c352bbca3b397c2636" class="btn btn-lg btn-primary">
                                    MagicEden
                                </a>
                                <a target="_blank" href="https://opensea.io/collection/bullrunpunks" class="btn btn-lg btn-primary">
                                    OpenSea
                                </a>
                            </p>
                        </div>
                        <div class="col col-12 col-md-4">
                            <img alt="MagicPunks" class="img-fluid rounded mb-4" src="images/collections/magicpunks/15.png" />
                            <p class="small">
                                We created <strong>MagicPunks</strong> to celebrate the launch of MagicEden's brand-new self-minting launchpad! This collection marks a tribute to innovation, offering a free mint as a way to showcase how effortless and exciting the minting process can be with this cutting-edge tool.
                            </p>
                            <p style="text-align: center">
                                <a target="_blank" href="https://magiceden.io/collections/base/0x60f6128454608c2a31213fbcff1b346016bd2fe7" class="btn btn-lg btn-primary">
                                    MagicEden
                                </a>
                                <a target="_blank" href="https://opensea.io/collection/magicpunksonbase" class="btn btn-lg btn-primary">
                                    OpenSea
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-nobased pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-5">
                            <img alt="RipplePunks" class="img-fluid rounded mb-4" src="images/collections/nobased/15.png" />
                        </div>
                        <div class="col col-12 col-md-7">
                            <div class="badge badge-light">
                                SOLD OUT
                            </div>
                            <br /><br />
                            <p>
                                Our most recent success on Base is called <strong>No-Based</strong>.
                                You might find this name weird, but it's a mix of two legendary collections on <strong>Base</strong>: <em>based punks</em> and <em>No-Punks</em>.
                            </p>
                            <p>
                                After this mint, we did something amazing that shocked the Base NFT community.
                                We <strong>gave away 1 ETH</strong> to the top 25 holders, 24 hours after minting out. Additionally, we <strong>swept many floors</strong> from multiple Base NFT collections.
                            </p>
                            <p>
                                The NFTs we swept are being given away in various giveaways on X.
                            </p>
                            <p>
                                <a target="_blank" href="https://nobased.com" class="btn btn-lg btn-primary">
                                    Website
                                </a>
                                <a target="_blank" href="https://opensea.io/collection/nobaseism" class="btn btn-lg btn-primary">
                                    Secondary
                                </a>
                                <a target="_blank" href="https://twitter.com/HasMints" class="btn btn-lg btn-primary">
                                    <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-ripplepunks pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col col-12 col-md-7">
                            <div class="badge badge-light">
                                SOLD OUT
                            </div>
                            <br /><br />
                            <p>
                                Let's continue with <strong>RipplePunks</strong>—it's our pride and joy, with the biggest community and the honor of being our first big hit! It's not just art, it's a symbol of our amazing community and our knack for making cool stuff.
                            </p>
                            <p>
                                RipplePunks has swiftly become one of the <strong>XRPL's</strong> largest collections, selling out within a remarkable two weeks.
                            </p>
                            <p>
                                Each punk has found its home, establishing RipplePunks as the <strong>derivative</strong> CryptoPunks collection from the Ethereum blockchain, solidifying its place in the world of blockchain art.
                            </p>
                            <p>
                                <a target="_blank" href="https://ripplepunks.com" class="btn btn-lg btn-primary">
                                    Website
                                </a>
                                <a target="_blank" href="https://discord.com/invite/a8jkJyrxrE" class="btn btn-lg btn-primary">
                                    <i class="fa-brands fa-discord" aria-hidden="true"></i>
                                </a>
                                <a target="_blank" href="https://twitter.com/xRipplePunks" class="btn btn-lg btn-primary">
                                    <i class="fa-brands fa-x-twitter" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                        <div class="col col-12 col-md-5">
                            <img alt="RipplePunks" class="img-fluid rounded mb-4" src="images/collections/ripplepunks/15.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-looneyluca pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row mt-3 mb-5">
                        <div class="col col-12 col-md-8">
                            <div class="badge badge-light">
                                MINTING
                            </div>
                            <br /><br />
                            <p>
                                <em>Started by a Kid named Luke, Crafted by Family: Art Beyond the Hype</em>
                            </p>
                            <p>
                                And don't miss <strong>Looney Luke</strong> on Base—it's a cool collection that immerses you in the real-life adventures of a kid named Luke.
                            </p>
                            <p>
                                Well, Luke is <strong>our son</strong>. He created the character that resembled himself from scratch with pencils, and my wife digitized it with her iPad.
                                I (dad) assembled the layers with code.
                            </p>
                        </div>
                        <div class="col col-12 col-md-4">
                            <img alt="Looney Luke" class="img-fluid rounded" src="images/collections/looneyluca/looneyluke.png" />
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col col-12 col-md-4">
                            <img alt="Looney Luke" class="img-fluid rounded mb-4" src="images/collections/looneyluca/withsiblings.png" />
                        </div>
                        <div class="col col-12 col-md-8">
                            <p>It's not just a collection; it's a heartfelt journey through Luke's world, filled with laughter, mischief, and the warmth of <strong>family</strong> bonds.</p>
                            <p>This collection will start minting soon on Base.</p>
                            <p>No free mints; instead, all 10,000 pieces will be sold for the very low price of .0001 ETH.</p>
                            <p>
                                <a target="_blank" href="https://opensea.io/collection/looneyluke/overview" class="btn btn-lg btn-secondary">
                                    Mint For ETH .0001
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-cryptopunks pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row py-4">
                        <div class="col col-md-4 col-12">
                            <img alt="LoadingPunks" class="img-fluid rounded mb-4" src="images/collections/loadingpunks/15.gif" />
                            <img alt="LoadingPunks on Base" class="img-fluid rounded mb-4" src="images/collections/loadingpunks/base/15.gif" />
                        </div>
                        <div class="col col-md-8 col-12">
                            <div class="badge badge-light">
                                ETHEREUM SOLD OUT
                            </div>
                            <div class="badge badge-light">
                                BASE SOLD OUT
                            </div>
                            <br />
                            <br />
                            <p>Next up, check out <strong>LoadingPunks</strong>. Loading, or rebuilding, all 10,000 <strong>CryptoPunks</strong> pixel by pixel, but also layer by layer.</p>
                            <p>This way, you can see <strong>hidden properties</strong> (like earrings) for a second before the next layer goes on top.</p>
                            <p>
                                Kinda awesome, right? That's why we are planning a new mint on <strong>Base</strong>! Slightly faster than their Ethereum variant and with another background color.
                                Current LoadingPunk holders get <strong>free mints</strong> equal to their holdings.
                            </p>
                            <p>
                                <a target="_blank" href="https://opensea.io/collection/loadingpunksbase" class="btn btn-lg btn-primary">
                                    Base
                                </a>
                                <a target="_blank" href="https://opensea.io/collection/loadingpunks" class="btn btn-lg btn-primary">
                                    Ethereum
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="container-fluid container-basealiens pt-5 pb-3">
            <div class="row">
                <div class="container">
                    <div class="row pt-4 pb-5">
                        <div class="col col-md-8 col-12">
                            <div class="badge badge-light">
                                MINTING
                            </div>
                            <br /><br />
                            <p>And hey, get ready for <strong>BaseAliens</strong> on Base—it's a wild ride! Picture a spaceship grabbing 4,444 people from Ethereum and dropping them on a crazy planet called <strong>Base</strong>. It's like something out of a sci-fi movie!</p>
                            <p>
                                The original listing price was .002 ETH each on NiftyKit. Unfortunately, that marketplace has since closed, requiring us to mint the remaining supply.
                                As a result, you will notice a "BaseAliens Primary Market" wallet on OpenSea. All items in that wallet are listed for .002 ETH.
                                If you spot a grail in that wallet that is unlisted, feel free to make an offer for .002 ETH, and we will gladly accept it.
                            </p>
                            <p>
                                <a target="_blank" href="https://opensea.io/BaseAliens_PrimaryMarket?search[collections][0]=realbasealiens" class="btn btn-lg btn-primary">
                                    BaseAliens on OpenSea
                                </a>
                            </p>
                        </div>
                        <div class="col col-md-4 col-12">
                            <img alt="BaseAliens" class="img-fluid rounded mb-4" src="images/collections/basealiens/basealiens.gif" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    <div class="row">#}
{#        <div class="container-fluid container-other-collections pt-5 pb-3">#}
{#            <div class="row">#}
{#                <div class="container">#}
{#                    <div class="row py-4">#}
{#                        <div class="col col-md-3 col-12">#}
{#                            <img alt="LoadingPunks" class="img-fluid rounded mb-4" src="images/collections/loadingpunks/15.gif" />#}
{#                        </div>#}
{#                        <div class="col col-md-6 col-12">#}
{#                            <p>Other collections on Ethereum</p>#}
{#                            <p>#}
{#                                <a target="_blank" href="https://opensea.io/collection/loadingpunks" class="btn btn-lg btn-primary">#}
{#                                    LoadingPunks#}
{#                                </a>#}
{#                                <a target="_blank" href="https://opensea.io/collection/pipingpunks/" class="btn btn-lg btn-primary">#}
{#                                    PipingPunks#}
{#                                </a>#}
{#                                <a target="_blank" href="https://opensea.io/collection/shapedpunks" class="btn btn-lg btn-primary">#}
{#                                    ShapedPunks#}
{#                                </a>#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="col col-md-3 col-12">#}
{#                            <img alt="PipingPunks" class="img-fluid rounded mb-4" src="images/collections/pipingpunks/15.png" />#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{#    <div class="row">#}
{#        <div class="container container-opensource">#}
{#            <div class="row">#}
{#                <div class="col col-12">#}
{#                    <h3>Open Source Code</h3>#}
{#                    <p>We specialize in <strong>PHP</strong>, crafting top-notch web solutions using frameworks like Laravel, Laminas, and Symfony. Starting April 2024, we're embracing transparency and collaboration by making all our projects open source.</p>#}
{#                    <p>Why open source? We believe in <strong>community-driven</strong> development, fostering innovation and positive change in the tech landscape. Join us on this journey of continuous improvement!</p>#}
{#                    <p>Explore our open-source projects and discover how we can shape the future together. Plus, we're now diving into <strong>Web3</strong> and <strong>NFT</strong> projects. Let's explore the possibilities and shape the digital economy together.</p>#}
{#                    <hr />#}
{#                    <div class="my-4">#}
{#                        Last commit done on#}
{#                        <a target="_blank" href="{{ repositories[0].lastCommitUrl }}">#}
{#                            {{ repositories[0].lastCommitDone }}#}
{#                        </a> (UTC)#}
{#                        for repository#}
{#                        <strong>#}
{#                            <a target="_blank" href="{{ repositories[0].url }}">#}
{#                                {{ repositories[0].name }}#}
{#                            </a>#}
{#                        </strong>#}
{#                        <br />#}
{#                        <em>#}
{#                            "{{ repositories[0].lastCommitMessage }}"#}
{#                        </em>#}
{#                    </div>#}
{#                    <a href="/opensource" class="btn btn-primary btn-lg my-4">#}
{#                        Open Source Code#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}
